﻿/* my css reset */
body, h1, h2, h3, h4, h5, h6, hr, div, p,
blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td, /* table elements 表格元素 */
img /* img elements 图片元素  */ {
	border: none;
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body, button, input, select, textarea {
	font: 16px/1.5 '微软雅黑', tahoma, Arial, helvetica, sans-serif;
	color: #000;
}
ul, ol { 
	list-style: none; 
}
a { 
	text-decoration: none; 
	color:#333;
}
a:hover { 
	color:#82BD1A; 
}
a:focus {
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* global style */
body {
	background: #f0f0f0;
}
h1 {
	font-size: 2.0em;
	font-weight: bold;
}
h2 {
	font-size: 1.0em;
	font-weight: bold;
}
.clear {
	clear: both;
}
/* start 左侧导航 */
#nav {
	width: 250px;
	height: 680px;
	position: fixed;
	padding: 0 5px 0 10px;
	border-right: 1px solid #ccc;
}
#nav h1 {
	color: #2375BE;
}
#nav .user,
#nav .nav {
	border-bottom: 1px solid #dedede;
}
#nav .user,
#nav .nav,
#nav section {
	padding: 10px 0;
}
#nav .user a {
	display: block;
	height: 30px;
	line-height: 30px;
}
#nav .nav li a {
	font-weight: bold;
	height: 30px;
	line-height: 30px;
}
#nav .feeds {
	padding: 5px 0;
	overflow: auto;
	height: 320px;
}
#nav .feeds li {
	padding-left: 5px;
}
#nav .feeds li img {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
#nav .feeds li a{
	font-size: 15px;
}
/* start 内容 */
#wrapper {
	width: 960px;
	min-height: 570px;
	position: relative;
	left: 265px;
	background: #fafafa;
	box-shadow: -1px 1px 5px #ccc;
	border-right: 1px solid #ccc;
	z-index: 1;
	padding-bottom: 100px;
}
#wrapper > header {
	position: fixed;
	left: 265px;
	background: #fafafa;
	height: 50px;
	width: 930px;
	line-height: 50px;
	padding-left: 15px;
	z-index: 99;
	border-bottom: 1px solid #ededed;
}
#wrapper > header h2 {
	display: inline;
}
#wrapper > .container {
	position: relative;
	top: 60px;
	z-index: 2;
	padding: 5px 0 0 15px;
}
.news-list > li {
	padding: 10px 15px 10px 0;
}
.news-list > li > a {
	display: block;
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-ms-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}
.news-list .header * {
	font-size: 14px;
}
.news-list .header h3{
	display: inline;
	padding-right: 20px;
}
.news-list .header span {
	padding: 0 10px 0 0;
}
.news-list .info * {
	font-size: 14px;
}
.header * {
	color: #333;
}
.info * {
	color: #777;
}
/* start 主页 */
.news-index li * {
	color: #fff;
}
.news-index li {
	margin-bottom: 20px;
	padding: 15px 30px;
	margin-right: 20px;
	box-shadow: 3px 3px 5px #ccc;
	background: #44a3aa;
}
.news-index li h2{
	padding-bottom: 5px;
}
li.red {
	background: #ff6666;
}
li.orange {
	background: #da532c;
}
li.green {
	background: #bccd81;
}
li.blue {
	background: #44a3aa;
}
/* start 所有新闻 */
.news-all li:hover > a {
	background-color: rgba(0,0,0,0.1);
}
#wrapper header span {
	float: right;
	padding: 0 10px;
}
#refresh {
	cursor: pointer;
	width: 32px;
	height: 32px;
	margin-top: 10px;
}
/* start 热门新闻 */
.pv {
	color: #82BD1A;
}
.news-hot li:hover > a {
	background-color: rgba(0,0,0,0.1);
}
/* start 个性化设置 */
.notification {
	color: #2375BE;
	padding-left: 30px;
	height: 30px;
	line-height: 30px;
	background: url(../img/notification.jpg) no-repeat left bottom;
	margin-bottom: 20px;
}
#setting .academy {
	display: block;
	margin-bottom: 20px;
}
#setting .academy strong,
#setting .news-feed legend {
	font-size: 1.0em;
	font-weight: bold;
	letter-spacing: 2px;
}
#setting .news-feed {
	margin-bottom: 20px;
}
#setting .news-feed legend {
	margin-bottom: 10px;
	padding-left: 25px;
	cursor: pointer;
}
.down {
	background: url(../img/down.png) no-repeat left center;
}
.up {
	background: url(../img/up.png) no-repeat left center;
}
#setting .news-feed span {
    display: inline-block;
	padding: 10px 20px;
}
input[type="checkbox"] {
	margin-right: 5px;
	border-width: 1px\9;   /* for IE */
	border-style: solid\9;
	border-color: #ccc\9;
}
.submit {
	display: block;
	width: 70px;
	line-height: 25px;
	text-align: center;
	background: #2375BE;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	box-shadow: 3px 3px 5px #ccc;
	letter-spacing: 3px;
	outline: none;
}
.submit:hover {
	cursor: pointer;
	color: #fff;
}
/* start 文章详情页 */
.news-list article {
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #ccc;
	padding-left: 10px;
	display: none;
}
.news-list article > h3 a{
	font-size: 1.0em;
	color: #2375BE;
}
.news-list article > h3 a:hover{
	text-decoration: underline;
}
.news-list article > .content {
	padding: 5px 60px 5px 0;
}
.news-list article > .content * {
	color: #000;
}
.news-list article > .content p{
	text-indent: 30px;
	padding: 5px 0;
}
.reading {
	/* for mark news reading */
}
.markread {
	background: #e0e0e0;
}
#baidu-share {
	display: inline-block;
	margin: 10px 0 10px 0;
}