<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>武大新闻阅读器</title>
<link rel="stylesheet" href="/static/css/whureader.css" />
<script src="/static/js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.ui.core.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.ui.widget.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.ui.mouse.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.ui.sortable.min.js" type="text/javascript"></script>
<script src="/static/js/whureader.js" type="text/javascript"></script>
<!--[if lt IE 9]><script src="/static/js/html5.js" type="text/javascript"></script><![endif]-->
</head>
<body>
	<div id="nav">
		<h1>WHU READER</h1>
		<nav>
			<div class="user">
				<a href="#">百度用户XXX</a>
				<a href="#">退出</a>
				<a href="#">个性化设置</a>
			</div>
			<ul class="nav">
				<li><a href="/index">主页</a></li>
				<li><a href="/all">所有新闻</a></li>
				<li><a href="/hot">热点新闻</a></li>
			</ul>
			<section>
				<h2>新闻源</h2>
				<ul class="feeds">
					<li>
						<img src="/static/img/favicon.png" alt="武汉大学新闻网" />
						<a href="/source">武汉大学新闻网(10)</a>
					</li>
					<li>
						<img src="/static/img/favi_default.png" alt="" />
						<a href="#">武汉大学教务部(5)</a>
					</li>
					<li>
						<img src="/static/img/favi_default.png" alt="" />
						<a href="#">武汉大学计算机学院(7)</a>
					</li>
					<li>
						<img src="/static/img/favi_default.png" alt="" />
						<a href="#">武汉大学经济与管理学院(10)</a>
					</li>
				</ul>
			</section>
		</nav>
	</div>
	<div id="wrapper">
		<header>
			<h2>{% block crumbs %}{% endblock %}</h2>
			{% block tools %}{% endblock %}
		</header>
		<div class="container">
			{% block container %}{% endblock %}
		</div>
	</div>
</body>
</html>