{% extends "base.html" %}

{% block crumbs %}热门新闻{% endblock %}

{% block tools %}
<span id="refresh"><img src="/static/img/refresh.png" width="32" height="32" title="刷新" /></span>
<span class="mark_read">
	<form action="">
		<select>
			<option value="0">全部标为已读</option>
			<option value="1">一天之前</option>
			<option value="2">三天之前</option>
			<option value="3">一周之前</option>
		</select>
	</form>
</sapn>
{% endblock %}

{% block container %}
<ul class="news-list news-hot">
	<li>
		<a href="#">
			<div class="header">
				<span>武汉大学新闻网</span>
				<h3>Mozilla：把虚幻 3 引擎搬进浏览器</h3>
				<span class="pv">浏览次数:1500</span>
				<span>2013-4-1</span>
			</div>
			<div class="info">
				<p>新浪门户改版了，页面的样式细节变得简洁外，最重要的是，新增了“微博搜索”、“猜你喜欢”等与新浪微博相关联的板块，而且还允许用户定制导航栏...</p>
			</div>
		</a>
		<article>
			<h3><a href="#" target="_blank">Mozilla：把虚幻 3 引擎搬进浏览器</a></h3>
			<div class="content">
				<p>3月31日下午，中国工程院院士、新疆大学信息科学与工程学院博士生导师吾守尔•斯拉木教授在参加我院举办的“云计算与软件服务工程创新发展高峰论坛”会议期间，专程到我院八楼报告厅为全校新疆籍学生做了题为《奋斗改变命运》的专题讲座。讲座由在学工部挂职的新疆大学阿里木江老师主持，我院党委副书记吴红波出席了本次报告会。</p> 
		        <p>吾守尔•斯拉木院士首先向在场的师生讲述了自己在学习和科研工作中的经历，用自己成长成才经历告诉同学们：奋斗和机遇是改变命运的最重要因素，只要努力，一切皆有可能！他勉励大家刻苦学习，知难而上，培养吃苦耐劳的精神，为自己的理想目标努力奋斗；吾守尔•斯拉木院士还向师生们介绍了多语种信息化处理技术的研究内容、研究中遇到的问题以及信息技术发展的新趋势、新机遇、新挑战。在随后的交流环节，吾院士耐心倾听并认真细致、深入浅出地回答了每个同学的问题，会场气氛热烈。</p>
		        <p>据悉，吾守尔•斯拉木教授是新疆自治区唯一一名院士；长期从事多语种信息处理、计算机应用及网络技术研究与开发应用，对新疆多语种信息化事业的发展做出了突出贡献。</p>
			</div>
			<span id="baidu-share">
				<!-- Baidu Button BEGIN -->
				<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
				<a class="bds_tsina"></a>
				<a class="bds_qzone"></a>
				<a class="bds_tqq"></a>
				<a class="bds_renren"></a>
				<a class="bds_douban"></a>
				<span class="bds_more">更多</span>
				<a class="shareCount"></a>
				</div>
				<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=506367" ></script>
				<script type="text/javascript" id="bdshell_js"></script>
				<script type="text/javascript">
				document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
				</script>
				<!-- Baidu Button END -->
			</span>
			<div class="clear"></div>
		</article>
	</li>
	<li>
		<a href="#">
			<div class="header">
				<span>武汉大学自强新闻</span>
				<h3>Mozilla：把虚幻 3 引擎搬进浏览器</h3>
				<span class="pv">浏览次数:1500</span>
				<span>2013-4-1</span>
			</div>
			<div class="info">
				<p>新浪门户改版了，页面的样式细节变得简洁外，最重要的是，新增了“微博搜索”、“猜你喜欢”等与新浪微博相关联的板块，而且还允许用户定制导航栏...</p>
			</div>
		</a>
		<article>
			<h3><a href="#" target="_blank">Mozilla：把虚幻 3 引擎搬进浏览器</a></h3>
			<div class="content">
				<p>3月31日下午，中国工程院院士、新疆大学信息科学与工程学院博士生导师吾守尔•斯拉木教授在参加我院举办的“云计算与软件服务工程创新发展高峰论坛”会议期间，专程到我院八楼报告厅为全校新疆籍学生做了题为《奋斗改变命运》的专题讲座。讲座由在学工部挂职的新疆大学阿里木江老师主持，我院党委副书记吴红波出席了本次报告会。</p> 
		        <p>吾守尔•斯拉木院士首先向在场的师生讲述了自己在学习和科研工作中的经历，用自己成长成才经历告诉同学们：奋斗和机遇是改变命运的最重要因素，只要努力，一切皆有可能！他勉励大家刻苦学习，知难而上，培养吃苦耐劳的精神，为自己的理想目标努力奋斗；吾守尔•斯拉木院士还向师生们介绍了多语种信息化处理技术的研究内容、研究中遇到的问题以及信息技术发展的新趋势、新机遇、新挑战。在随后的交流环节，吾院士耐心倾听并认真细致、深入浅出地回答了每个同学的问题，会场气氛热烈。</p>
		        <p>据悉，吾守尔•斯拉木教授是新疆自治区唯一一名院士；长期从事多语种信息处理、计算机应用及网络技术研究与开发应用，对新疆多语种信息化事业的发展做出了突出贡献。</p>
			</div>
			<span id="baidu-share">
				<!-- Baidu Button BEGIN -->
				<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
				<a class="bds_tsina"></a>
				<a class="bds_qzone"></a>
				<a class="bds_tqq"></a>
				<a class="bds_renren"></a>
				<a class="bds_douban"></a>
				<span class="bds_more">更多</span>
				<a class="shareCount"></a>
				</div>
				<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=506367" ></script>
				<script type="text/javascript" id="bdshell_js"></script>
				<script type="text/javascript">
				document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
				</script>
				<!-- Baidu Button END -->
			</span>
			<div class="clear"></div>
		</article>
	</li>
	<li>
		<a href="#">
			<div class="header">
				<span>武汉大学教务部</span>
				<h3>Mozilla：把虚幻 3 引擎搬进浏览器</h3>
				<span class="pv">浏览次数:1500</span>
				<span>2013-4-1</span>
			</div>
			<div class="info">
				<p>新浪门户改版了，页面的样式细节变得简洁外，最重要的是，新增了“微博搜索”、“猜你喜欢”等与新浪微博相关联的板块，而且还允许用户定制导航栏...</p>
			</div>
		</a>
		<article>
			<h3><a href="#" target="_blank">Mozilla：把虚幻 3 引擎搬进浏览器</a></h3>
			<div class="content">
				<p>3月31日下午，中国工程院院士、新疆大学信息科学与工程学院博士生导师吾守尔•斯拉木教授在参加我院举办的“云计算与软件服务工程创新发展高峰论坛”会议期间，专程到我院八楼报告厅为全校新疆籍学生做了题为《奋斗改变命运》的专题讲座。讲座由在学工部挂职的新疆大学阿里木江老师主持，我院党委副书记吴红波出席了本次报告会。</p> 
		        <p>吾守尔•斯拉木院士首先向在场的师生讲述了自己在学习和科研工作中的经历，用自己成长成才经历告诉同学们：奋斗和机遇是改变命运的最重要因素，只要努力，一切皆有可能！他勉励大家刻苦学习，知难而上，培养吃苦耐劳的精神，为自己的理想目标努力奋斗；吾守尔•斯拉木院士还向师生们介绍了多语种信息化处理技术的研究内容、研究中遇到的问题以及信息技术发展的新趋势、新机遇、新挑战。在随后的交流环节，吾院士耐心倾听并认真细致、深入浅出地回答了每个同学的问题，会场气氛热烈。</p>
		        <p>据悉，吾守尔•斯拉木教授是新疆自治区唯一一名院士；长期从事多语种信息处理、计算机应用及网络技术研究与开发应用，对新疆多语种信息化事业的发展做出了突出贡献。</p>
			</div>
			<span id="baidu-share">
				<!-- Baidu Button BEGIN -->
				<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
				<a class="bds_tsina"></a>
				<a class="bds_qzone"></a>
				<a class="bds_tqq"></a>
				<a class="bds_renren"></a>
				<a class="bds_douban"></a>
				<span class="bds_more">更多</span>
				<a class="shareCount"></a>
				</div>
				<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=506367" ></script>
				<script type="text/javascript" id="bdshell_js"></script>
				<script type="text/javascript">
				document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
				</script>
				<!-- Baidu Button END -->
			</span>
			<div class="clear"></div>
		</article>
	</li>
	<li>
		<a href="#">
			<div class="header">
				<span>武汉大学计算机学院</span>
				<h3>Mozilla：把虚幻 3 引擎搬进浏览器</h3>
				<span class="pv">浏览次数:1500</span>
				<span>2013-4-1</span>
			</div>
			<div class="info">
				<p>新浪门户改版了，页面的样式细节变得简洁外，最重要的是，新增了“微博搜索”、“猜你喜欢”等与新浪微博相关联的板块，而且还允许用户定制导航栏...</p>
			</div>
		</a>
		<article>
			<h3><a href="#" target="_blank">Mozilla：把虚幻 3 引擎搬进浏览器</a></h3>
			<div class="content">
				<p>3月31日下午，中国工程院院士、新疆大学信息科学与工程学院博士生导师吾守尔•斯拉木教授在参加我院举办的“云计算与软件服务工程创新发展高峰论坛”会议期间，专程到我院八楼报告厅为全校新疆籍学生做了题为《奋斗改变命运》的专题讲座。讲座由在学工部挂职的新疆大学阿里木江老师主持，我院党委副书记吴红波出席了本次报告会。</p> 
		        <p>吾守尔•斯拉木院士首先向在场的师生讲述了自己在学习和科研工作中的经历，用自己成长成才经历告诉同学们：奋斗和机遇是改变命运的最重要因素，只要努力，一切皆有可能！他勉励大家刻苦学习，知难而上，培养吃苦耐劳的精神，为自己的理想目标努力奋斗；吾守尔•斯拉木院士还向师生们介绍了多语种信息化处理技术的研究内容、研究中遇到的问题以及信息技术发展的新趋势、新机遇、新挑战。在随后的交流环节，吾院士耐心倾听并认真细致、深入浅出地回答了每个同学的问题，会场气氛热烈。</p>
		        <p>据悉，吾守尔•斯拉木教授是新疆自治区唯一一名院士；长期从事多语种信息处理、计算机应用及网络技术研究与开发应用，对新疆多语种信息化事业的发展做出了突出贡献。</p>
			</div>
			<span id="baidu-share">
				<!-- Baidu Button BEGIN -->
				<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
				<a class="bds_tsina"></a>
				<a class="bds_qzone"></a>
				<a class="bds_tqq"></a>
				<a class="bds_renren"></a>
				<a class="bds_douban"></a>
				<span class="bds_more">更多</span>
				<a class="shareCount"></a>
				</div>
				<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=506367" ></script>
				<script type="text/javascript" id="bdshell_js"></script>
				<script type="text/javascript">
				document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
				</script>
				<!-- Baidu Button END -->
			</span>
			<div class="clear"></div>
		</article>
	</li>
</ul>
{% endblock %}