{% extends "base.html" %}

{% block crumbs %}您订阅的新闻{% endblock %}

{% block container %}
<ul class="news-list news-index">
	<li class="green">
		<a href="#">
			<h2>武汉大学新闻网（10）</h2>
			<div class="header">
				<h3>Mozilla：把虚幻 3 引擎搬进浏览器</h3>
				<span>2013-4-1</span>
			</div>
			<div class="info">
				<p>新浪门户改版了，页面的样式细节变得简洁外，最重要的是，新增了“微博搜索”、“猜你喜欢”等与新浪微博相关联的板块，而且还允许用户定制导航栏...</p>
			</div>
		</a>
	</li>
	<li class="red">
		<a href="#">
			<h2>武汉大学计算机学院（5）</h2>
			<div class="header">
				<h3>Mozilla：把虚幻 3 引擎搬进浏览器</h3>
				<span>2013-4-1</span>
			</div>
			<div class="info">
				<p>新浪门户改版了，页面的样式细节变得简洁外，最重要的是，新增了“微博搜索”、“猜你喜欢”等与新浪微博相关联的板块，而且还允许用户定制导航栏...</p>
			</div>
		</a>
	</li>
	<li class="blue">
		<a href="#">
			<h2>武汉大学教务部（7）</h2>
			<div class="header">
				<h3>Mozilla：把虚幻 3 引擎搬进浏览器</h3>
				<span>2013-4-1</span>
			</div>
			<div class="info">
				<p>新浪门户改版了，页面的样式细节变得简洁外，最重要的是，新增了“微博搜索”、“猜你喜欢”等与新浪微博相关联的板块，而且还允许用户定制导航栏...</p>
			</div>
		</a>
	</li>
	<li class="orange">
		<a href="#">
			<h2>武汉大学自强新闻（11）</h2>
			<div class="header">
				<h3>Mozilla：把虚幻 3 引擎搬进浏览器</h3>
				<span>2013-4-1</span>
			</div>
			<div class="info">
				<p>新浪门户改版了，页面的样式细节变得简洁外，最重要的是，新增了“微博搜索”、“猜你喜欢”等与新浪微博相关联的板块，而且还允许用户定制导航栏...</p>
			</div>
		</a>
	</li>
</ul>
{% endblock %}