{% extends "base.html" %}

{% block crumbs %}个性化设置{% endblock %}

{% block container %}
<div class="notification">
	<p>WHUREADER从开通至今共获取XXX条新闻&nbsp;其中您在本站阅读了XXXX&nbsp;排名XXXX</p>
</div>
<form id="setting" autocomplete="off" method="post" action="#">
	<label class="academy">
		<strong>学院：</strong>
		<select name="academy" id="academy">
			<option value="">计算机学院</option>
			<option value="">电子信息学院</option>
			<option value="">社会学系</option>
			<option value="">城市设计学院</option>
			<option value="">经济与管理学院</option>
			<option value="">电气工程学院</option>
		</select>
	</label>
	<fieldset class="news-feed">
		<legend id="news-feed" class="down">新闻源</legend>
		<div class="source">
			<span><input type="checkbox">武汉大学新闻网</span>
			<span><input type="checkbox">自强新闻</span>
			<span><input type="checkbox">未来网</span>
			<span><input type="checkbox">武汉大学教务部</span>
			<br />
			<span><input type="checkbox">武汉大学新闻网</span>
			<span><input type="checkbox">自强新闻</span>
			<span><input type="checkbox">未来网</span>
			<span><input type="checkbox">武汉大学教务部</span>
		</div>
	</fieldset>
	<input type="submit" class="submit" value="保存" />
</form>
{% endblock %}